<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>
       axios.interceptors.request.use(function (config) {
        const token = localStorage.getItem('token')
        console.log(token);
          config.headers.authorization = `Bearer ${localStorage.getItem('token')}`
          return config;
        }, function (error) {
          return Promise.reject(error);
        });
      
      axios.interceptors.response.use(function (response) {
          localStorage.setItem('token',response.headers.authorization)
          return response;
        }, function (error) {
          // console.log(error);
          if(error.response.status === 401) {
            location.href = '/login'
          };
          return Promise.reject(error);
        });
    </script>
  </head>
  <body>
   <h1>首页</h1>

    <form>
      <div>用户名<input type="text" name="username" id="username"></div>
      <div>密码<input type="password" name="password" id="password"></div>
      <div>age<input type="text" name="age" id="age"></div>
      <div><input type="button" id="btn" value="注册"></div>
      <div><input type="button" id="updateBtn" value="更新"></div>
      <div>
        <input type="button" id="delBtn" value="删除">
      </div>
      <div><input type="button" id="findBtn" value="查询"></div>
    </form>

    <table border="1px">
      <thead>
          <td>id</td>
          <td>用户名</td>
          <td>年龄</td>
          <td>操作</td>
      </thead>
      <tbody>
      </tbody>
    </table>

    
    <script>
     

      let username = document.querySelector('#username')
      let psw = document.querySelector('#password')
      let age = document.querySelector('#age')
      let btn = document.querySelector('#btn')
      let updateBtn = document.querySelector('#updateBtn')
      let delBtn = document.querySelector('#delBtn')
      let findBtn = document.querySelector('#findBtn')
      btn.addEventListener('click',async () => {
        const data = await axios.post('/api/users',{
          username: username.value,
          password: psw.value,
          age: age.value
        })
        // const json = await fetch('/api/users',{
        //   method: 'post',
        //   body:JSON.stringify({
        //     username: username.value,
        //     password: psw.value,
        //     age: age.value
        //   }),
        //   headers:{'Content-Type':'application/json'}
        // })
        // const data = await json.json()
        console.log(data);
        // if(data.code === -1) {
        //   location.href = '/login'
        // }
      })

      updateBtn.addEventListener('click',async () => {
        const data = await axios.put('/api/users/643517ff452b0000480003fa',{
          username: username.value,
          password: psw.value,
          age: age.value
        })
        // const json = await fetch('/api/users/643517ff452b0000480003fa',{
        //   method: 'put',
        //   body:JSON.stringify({
        //     username: username.value,
        //     password: psw.value,
        //     age: age.value
        //   }),
        //   headers:{'Content-Type':'application/json'}
        // })
        // const data = await json.json()
        console.log(data);
      })

      delBtn.addEventListener('click',async () => {
        const data = await axios.delete('/api/users?id=643517ff452b0000480003fa')
        // const json = await fetch('/api/users?id=643517ff452b0000480003fa',{
        //   method: 'delete',
        // })
        // const data = await json.json()
        console.log(data);
      })

      // findBtn.addEventListener('click',async () => {
      //   const json = await fetch('/users/list?pagenum=1&pagesize=2')
      //   const data = await json.json()
      //   const tbody = document.querySelector('tbody')
      //   tbody.innerHTML = data.map((item,index) => 
      //     `
      //     <tr>
      //       <td row_id="${index}">${item._id}</td>  
      //       <td>${item.username}</td>  
      //       <td>${item.age}</td>  
      //       <td><button class="delRow">删除</button><button class="updateRow">更新</button></td>  
      //     </tr>
      //     `
      //   ).join('')
      // })

        async function getlist() {
          const data = await axios.get('/api/users?pagenum=1&pagesize=10')
          console.log(data);
          // const json = await fetch('/api/users?pagenum=1&pagesize=10')
          // const data = await json.json()
          const tbody = document.querySelector('tbody')
          tbody.innerHTML = data.data.map((item,index) => 
            `
            <tr>
              <td row_id="${index}">${item._id}</td>  
              <td>${item.username}</td>  
              <td>${item.age}</td>  
              <td><button class="delRow">删除</button></td>  
            </tr>
            `
          ).join('')
          let delRow = document.querySelectorAll('.delRow')
          let updateRow = document.querySelector('.updateRow')
          delRow.forEach(item => {
            item.addEventListener('click', async (e) => {
            console.log('in');
            const tr = e.target.parentNode.parentNode
            console.log(tr);
            const trArr = tr.getElementsByTagName('td')
            const id = trArr[0].innerText
            console.log(id);
            const {data} = await axios.delete(`/api/users?id=${id}`)
            // const json = await fetch(`/api/users?id=${id}`,{method:'delete'})
            // const data = await json.json()
            if(data.tips === '删除成功') tbody.removeChild(tr)
            })
          })
        }
        getlist()

    </script>
  </body>
</html>
